<footer>
  <hr/>
  {% if site.copyright.size > 0 %}
    {{ site.copyright | markdownify }}
  {% endif %}
  
  <script type="text/javascript">
  $("script[type='math/tex']").replaceWith(
    function(){
      var tex = $(this).text();
      return "<span class=\"inline-equation\">" + 
             katex.renderToString(tex) +
             "</span>";
  });

  $("script[type='math/tex; mode=display']").replaceWith(
    function(){
      var tex = $(this).text();
      return "<div class=\"equation\">" + 
             katex.renderToString("\\displaystyle "+tex) +
             "</div>";
  });
  </script>
  
  
  
  <!-- <p>
    <code>Powered by <a href="https://zzsza.github.io/">zzsza</a></code>
  </p> -->
</footer>
